html body{
    margin: 0;
    background-color: #a9a9a9;
    background-image: repeating-linear-gradient(45deg,#f5f5f5, #f5f5f5 13px,transparent 0, transparent 26px);
}
/*backgroundColor: "#a9a9a9",
        backgroundImage: "repeating-linear-gradient(45deg,#f5f5f5, #f5f5f5 13px,transparent 0, transparent 26px)"*/