body{
    background-image: url("cache/back_normal.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
}

div#nowBattle{
    text-align: center;    
}

ul{
    font-size: 0;
    text-align: center;
}

li{
    background-color: #dadada;
    display: inline-block;
    font-size: 12px;
    width: 25%;
    text-align: center;
}
